.row-heading, .row-version-string {
  font-weight: bold;
}
.row-heading td, .row-version-string {
  min-width: 160px;
}
.row-version .cell-check, .row-heading .col-version-string  {
  text-align: center;
}
.cell-check.true {
  background-image: url('./checked.svg');
  background-position: center center;
  background-size: 26px;
  background-repeat: no-repeat;
}
.template-target-table {
  position: relative;
  width: 100%;
}
.col-invisible {
  position: relative !important;
  min-width: 20px !important;
  width: 20px !important;
  border: none !important;
}
.col-invisible::before {
  position: absolute;
  content: '';
  top: -2px;
  left: 0;
  right: 0;
  bottom: 2px;
  background-color: white;
}
.compatibility-table-container::after {
  position: absolute;
  content: '';
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 70%);
}
.book .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) td {
  background-color: #f8f8f8;
}
.compatibility-table thead td.row-service-string {
  /* special pull up because we use border-collapse: collapse */
  margin-top: -1px;
  height: 68px;
}
.sticky-col {
  left: 0;
  position: absolute;
  top: auto;
  width: 160px;
}
.compatibility-table-container {
  position: relative;
}
.compatibility-table-scroller {
  margin-left: 160px;
  overflow-x: auto;
  width: calc(100% - 160px);
}
.book .book-body .page-wrapper .page-inner section.normal table.compatibility-table {
  z-index: 0;
  min-width: 550px;
  width: calc(100% - 1px);
}
.compatibility-table td {
  height: 40px;
}
.compatibility-table thead td {
  height: 67px;
}
.book .book-body .page-wrapper .page-inner section.normal table td.sticky-col.row-version-string {
  border-top: none;
}
.book .book-body .page-wrapper .page-inner section.normal table td.content-col-0 {
  border-left: none;
}
